.woocommerce{

    .woocommerce-breadcrumb{
        margin: 30px 0;
    }

    .cart-title{
        text-align: center;
        margin-bottom: 40px;
        font-size: 34px;
        font-family: 'Roboto-Regular';
    }

    .custom-cart-collaterals{
        display: flex;
        width: 100%;

        .cart-table-container{
            width: 60%;

            .cart-subtotal{
                margin-left: 40px;
                text-align: right;
                
                h3{
                    border-bottom: 1px solid $dark-grey-color;
                    margin-bottom: 10px;
                    padding-bottom: 10px;
                    font-size: 18px;
                    font-weight: 500;
                }

                span{
                    font-size: 18px;
                    font-family: 'Roboto-Medium';
                }

            }

            .coupon{
                display: none;
            }

            table.shop_table{
                margin-left: 40px;

                .product-thumbnail{
                    width: 130px;
                    height: 180px;
                }
                
                .product-remove, 
                .product-name,
                .product-price,
                .product-quantity,
                .product-subtotal{
                    display: block;

                    a{
                        color: $dark-grey-color;
                        text-decoration: none;
                        font-size: 16px;
                        font-family: 'Roboto-Medium';
                    }
                    }

                .product-price{
                    font-size: 18px;
                    font-family: 'Roboto-Medium';
                }

                .product-remove{
                    color: $dark-grey-color !important;
                    position:absolute;
                    margin-left: 610px;
                }

                .product-quantity{
                    display: flex;
                    
                    .heart-btn{
                        margin-right: 8px;
                        height: 31px;
                        width: 31px;
                        background-color: white;
                        border: 1px solid $dark-grey-color;
                        position: relative;
                        cursor: pointer;

                        svg{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }

                    }

                    input{
                        font-family: 'Roboto-Light';
                        width: 77px;
                        height: 31px;
                        border: 1px solid rgb(0, 0, 0, 0.3);
                        border-radius: 0;
                    }
                }

                .product-subtotal{
                    font-size: 14px;
                    font-family: 'Roboto-Light';
                }
            }

            table, td{
                border: none;
            }

            .shop_table thead {
                display: none;
            }
        }


        .cart-collaterals{
            margin: 0 40px 0 -45px;
            width: 50%;

            .cart_totals{
            background-color:rgb(236, 235, 233, 0.7);
            width: 80%;
            padding: 40px;

            .woocommerce-coupon-form{
                margin-bottom: 0px;
            }

            p{
                margin-top: 20px;
                font-size: 18px;
                font-family: 'Roboto-Light';
            }

            .coupon{
                margin-top: 10px;
                display: flex;
                width: 100%;

                input{
                    padding: 15px 60px;
                    border: 1px solid $dark-grey-color;
                }

                button{
                    color: white;
                    background-color: $dark-grey-color;
                    border-radius: 0;
                    font-family: 'Roboto-Bold';
                    font-size: 14px;
                }
            }

            .shop_table.shop_table_responsive{
                th, td{
                    padding: 0;
                }

                tr.order-total th{
                    padding-top: 20px;
                }
            }

            .login-btn{
                margin-top: 30px;
                button{
                    width: 100%;
                    padding: 15px 60px;
                    color: $dark-grey-color;
                    border-radius: 0;
                    margin-top: 10px;
                    margin-bottom: 20px;
                    background-color: white;
                    border: 1px solid $dark-grey-color;
                    font-family: 'Roboto-Bold';

                    &:hover{
                        background-color: $dark-grey-color;
                        color: white;
                    }
                }
            }

            .woocommerce-shipping-calculator{
                margin: 0;
            }

            .woocommerce-shipping-destination,
            .shipping-calculator-button{
                display: none;
            }


            table, th, td{
                border: none;
                font-size: 14px;
                font-weight: 500;

                td{
                    text-align: right;
                }
            }

            h2{
                display: none;
            }

            a.button.alt{
                text-align: center;
                background-color: gray;
                padding: 15px 60px;
                width: 100%;
                border-radius: 0;
                margin-bottom: 20px;
            }
            }
        }
        .actions{
            button{
                margin-right: 415px;
                padding: 15px 20px;
                border-radius: 0;
                font-family: 'Roboto-Regular';
                background-color: gray;
                color: white;
                text-transform: uppercase;
                font-size: 14px;

                &:disabled {
                    background-color: lightgray;
                    padding: 15px 20px;
                }
                
            }
        }
    }

    .cart-empty{
        margin: 40px;
        text-align: center;
        font-size: 28px;
        font-family: 'Roboto-Bold';
    }

    .return-to-shop{
        text-align: center;
        margin-bottom: 60px;

        .button{
            padding: 15px 60px;
            background-color: $dark-grey-color;
            color: white;
            text-transform: uppercase;
            font-size: 14px;
            border-radius: 0;
            border: 1px solid $dark-grey-color;


            &:hover{
                background-color: white;
                border: 1px solid $dark-grey-color;
                color: $dark-grey-color;
                transition: 0.3s;
            }
        }
    }

    .cross-sells{
        margin: 0 40px -40px 40px;

        h2{
            font-size: 24px;
            margin: 20px 0;
        }
        
        ul{
            display: flex;
            justify-content: space-between;

            a{
                color: $dark-grey-color;
                font-size: 18px;

            }

            img{
                height: 396px;
                width: auto;
            }

            span{
                font-family: 'Roboto-Bold';
                font-size: 24px;
            }
        }

        .add_to_cart_button{
            visibility: hidden;
        }

        .attribute-div{
            display: none;
        }
        
    }
}
