/* Main checkout form container */
.checkout {
  &-columns {
    display: flex;
    flex-wrap: wrap;
  }

  &-column {
    width: 100%;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      width: 50%; /* Two columns on larger screens */
    }
  }

  &-section {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
  }

  h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
  }

  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    appearance: none; /* Remove default appearance */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23333" d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6z"/><path fill="none" d="M0 0h24v24H0V0z"/></svg>'); /* Add custom arrow */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
  }

  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;

    &:hover {
      background-color: #0056b3;
    }
  }
}

/* Custom order review section */
.custom-order-and-checkout {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-top: 20px;

  h3 {
    font-size: 1.5rem;
    color: #333;
  }

  #custom_order_review_heading {
    margin-bottom: 10px;
  }
}

/* Shipping details */
.checkout-shipping {
  .checkout-section {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
  }
}

/* Custom checkout button */
#custom_checkout_button {
  display: block;
  margin-top: 20px;
}



    .components-button {
        // Base styles for the button
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      
        // Button text styles
        .wc-block-components-button__text {
          font-size: 16px;
          font-weight: bold;
        }
      
        // Button hover styles
        &:hover {
          background-color: #a6eba4;
        }
      
        // Button focus styles
        &:focus {
          outline: none;
          box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
        }
      
        // Button active styles
        &:active {
          transform: translateY(1px);
        }
      }
      