.content-area{
  padding: 0 0px;
  padding-bottom: 0px;
}




.woocommerce .woocommerce-breadcrumb {
  margin: 0 0 1em;
  padding: 35px;
  font-size: $product-size-medium;
}
.woocommerce-breadcrumb{
  display: flex;
  justify-content: center;
  
  a{
      
          text-decoration: none;
        
          font-size: $product-size-medium;
  }
  }



.woocommerce-sidebar{margin-top: 0px;
margin-left: 90px;}


.custom-filter{
  margin-top: 20px;

}

.custom-color{  margin-top: 20px;}

.cutom-price-filter{
  margin-top: 30px;
}
.cutom-price {margin-top: 20px;}




/* Styles for the custom filter-sort container */
.custom-filter-sort-container {
  display: flex;
margin-top: 280px;

margin-right:330px;
}

.filter-sort {
/* Use flexbox for the icon and text */
  width: 200px;
  margin-top: 20px;
}

.filter-icon img{
  width: 20px; /* Adjust the width of the icon */
  height: 20px; /* Adjust the height of the icon */
 
}

.filter-text {
  /* Remove default margin */
  font-family: 'Roboto'; /* Use Roboto font */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #323334;
  margin-left: 5px;
  cursor: pointer;
}

.header-wrapper {
 
  width: 300px;
  height: 100px; /* Adjust the height as needed */
}
.sorting-options {
  display: none;
  flex-direction: column;
  position: absolute;
  cursor: pointer;
  top: 152%;
margin-left: 28px;
  background-color: #f1f8f2;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  z-index: 1000;

  a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}
