.content-area{
  padding: 0 0px;
  padding-bottom: 0px;
}

<<<<<<< Updated upstream



.woocommerce .woocommerce-breadcrumb {
  margin: 0 0 1em;
  padding: 35px;
  font-size: $product-size-medium;
}
.woocommerce-breadcrumb{
  display: flex;
  justify-content: center;
  
  a{
      
          text-decoration: none;
        
          font-size: $product-size-medium;
  }
  }



.woocommerce-sidebar{margin-top: 0px;
margin-left: 90px;}

=======
>>>>>>> Stashed changes

// WooCommerce sidebar styles
.woocommerce-sidebar {
  height: 400px;
  margin-left: 95px;
}

// Custom color styles
.custom-color {
  margin-top: 20px;
  margin-left: 30px;
}

// Custom price filter styles
.custom-price-filter {
  margin-top: 30px;

 margin-left: 30px;

  // Nested custom price variations
  .custom-price1-1,
  .custom-price1-2,
  .custom-price1-3,
  .custom-price1-4,
  .custom-price1-5,
  .custom-price1-6 {
    width: 200px; // Adjust width as needed
    height: 25px; // Adjust height as needed
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #323334;
  }
}


.custom-filter-chart .related-words:nth-of-type(1) ul {
  margin-bottom: 40px;
}

// Custom filter chart styles
.custom-filter-chart {
  
  .related-words {
    margin-bottom: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
    width: 200px;

    ul {
      list-style: none;
      padding: 0;
      margin-left: 20px;

      li {
        margin-bottom: 10px;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    // Custom word styles
    .word {
      font-weight: bold;
      margin-bottom: 10px;
      width: 200px;
    }
  }
}


.custom-gender{
  margin-left: 30px;
}
// Styles for the custom filter-sort container
.custom-filter-sort-container {
  display: flex;
<<<<<<< Updated upstream
margin-top: 280px;

margin-right:330px;
}

.filter-sort {
/* Use flexbox for the icon and text */
  width: 200px;
  margin-top: 20px;
}

.filter-icon img{
  width: 20px; /* Adjust the width of the icon */
  height: 20px; /* Adjust the height of the icon */
 
}

.filter-text {
  /* Remove default margin */
  font-family: 'Roboto'; /* Use Roboto font */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #323334;
  margin-left: 5px;
  cursor: pointer;
}

.header-wrapper {
 
  width: 300px;
  height: 100px; /* Adjust the height as needed */
=======
  margin-top: 230px;
  margin-right: 300px;

  .filter-sort {
    display: flex;
    width: 200px;
  }

  .filter-icon img {
    width: 20px; // Adjust the width of the icon
    height: 20px; // Adjust the height of the icon
  }

  .filter-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #323334;
    margin-left: 5px;
    cursor: pointer;
  }

  .header-wrapper {
    width: 300px;
    height: 100px; // Adjust the height as needed
  }

  .sorting-options {
    display: none;
    flex-direction: column;
    position: absolute;
    cursor: pointer;
    top: 152%;
    margin-left: 28px;
    background-color: #f1f8f2;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    z-index: 1000;

    a {
      display: block;
      padding: 10px;
      text-decoration: none;
      color: #333;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}

.custom-color-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.custom-color-filter p {
  font-weight: bold;
  margin-bottom: 10px;
}

.custom-color-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-left: 80;
}

.custom-color-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 5px;
  display: inline-block;
}

.custom-red {
  color: red;
>>>>>>> Stashed changes
}
.sorting-options {
  display: none;
  flex-direction: column;
  position: absolute;
  cursor: pointer;
  top: 152%;
margin-left: 28px;
  background-color: #f1f8f2;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  z-index: 1000;

  a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}
