// Define the width of each product column
$product-column-width: calc(33.33% - 20px); // Adjust margin between columns

.woocommerce-main-content{
  margin-top: 260px !important;
margin-left: 10px!important;
}


// // Apply custom font families to your product list
// .products {
  
//     font-family: $custom-regular-font;
   
//     list-style: none;
//     justify-content: space-between;
// }

// ul.products{
//   display: flex;
//   flex-wrap: wrap;
//   padding: 0;
//   width: $product-column-width;
// }

// .product-item{
  
//   padding-top: 10px;
// }

.product-image {
  width: 250px;
  height: 250px;
  background: $product-background-color;
}


// // Define the position and size of the product details container
.product-details {
  
  height: 80px;
 
  margin-top: 20px;
}

// Style the text inside the product details container
.product-details h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #323334;
}




//  /*  justify-content: space-between; */
//   li.product{
//       list-style: none;
//       border: 1px solid rgba(0,0,0,0.15);
//       box-shadow: 0, 0, 10px, rgba(0,0,0,0.15);
//       width: calc(25% - 10px);
//       box-sizing: border-box;
//       padding:20px;
//       margin: 5px;
//  }
.products {
  display: grid;
  grid-template-columns: repeat(6, 0fr); // Three columns with equal width


  .product-item {
      // Style each individual product item
      height: 400px;
      padding: 10px;
      background-color: #ffffff;
     
      &:hover {
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

