.site-main {.woocommerce-breadcrumb {
  margin-left: 500px;
  margin-top: 10px;
}
}
.woocommerce-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
 
  .woocommerce-content {
    display: flex;
    justify-content: center;
    width: 1200;
    .products {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      list-style: none;

      .product-item {
        width: calc(33.33% - 20px); /* Adjust the width of each item */
        margin-bottom: 80px; /* Adjust the margin between products */
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        
        .product-image {
          width: 100%;
          height: 175px; /* Assuming fixed height for the images */
          background: $product-background-color; // Assuming $product-background-color is defined elsewhere
        }

        .product-details {
          font-family: 'Roboto';
          font-weight: 300;
          font-size: 12px;
          line-height: 21px;
          color: #323334;
          margin-top: 90px;
        }

        .woocommerce-loop-product__title h2 {
          font-family: 'Roboto';
          font-weight: 300;
          font-size: 14px;
          line-height: 21px;
          color: #323334;
          margin-top: 80px;
        }
        .product-details-price .product-price{
          margin-top: 20px;
        }
      }
    }
  }
}
.product-container {
  width: 900;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr); // Define three rows with equal height
  margin-left: 320px;

  .product-item {
   
   margin-top: 20px;
   width: calc(77.77% - 20px); /* Adjust the width of each item */
        
  }
  .product-details {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #323334;
    height: 40px;
   
    margin-top: 60px;
  }


 
}




.price {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 30px;


}