#load_more_products {
    display: block;
    width: 371px;
    height: 51px;
    padding: 10px;
    margin: 20px auto;
    border: none;
    background-color: #323334;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
}