$footer-primary-background-color: #323334;
$footer-secondary-background-color: #222222;;

$primary-font-color: black;
$secondary-font-color: #FFFFFF;

$globle_color: red;
$tertiary-font-color: #B88E2F;
$secondary-background-color: #FFF9E5;
$tertiary-background-color: #FAF4F4;
$footer-line-color: #D9D9D9;
$product-color-1: #816DFA;
$product-color-2: black;
$product-color-3: #CDBA7B;

$primary-background-color:#FFFFFF;
$primary-text-color:  #323334;

$primary-background-color: FFFFFF;
$primary-text-color: #323334;